body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#game {
  box-shadow: 10px 10px 5px #888888;
  border-radius: 2px;
  top: 40;
}

.top_bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  top: 0;
  margin-bottom: 40px;
}

.lower_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  height: 40px;
  margin-top: 10px;
}

.directions {
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
}

.game_title {
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
}
